# Entornos virtuales
venv/
env/
.benv/
.vscode/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Archivos de base de datos
*.db
*.sqlite3

# Logs
*.log

# Modelos entrenados (pueden ser grandes)
trained_models/
*.h5
*.pkl